# Binaries
agent/agent
server/netmon-server

# Dependencies
node_modules
ui/node_modules

# Build Output
ui/dist
ui_dist

# Env
# Note: For this personal project, we might want to ignore .env or keep it for convenience if no secrets.
# Given it's a private tool and user copied example, we usually ignore real env.
.env

# Docker
deploy/.env
.idea
.vscode
*.log
